.Request 
  input {
    display:block;
  }
  label {
    padding: .2rem .4rem;
    margin: 2rem .5rem;
    cursor: pointer;
  }
  input[type="radio"] {
    opacity: 0;
  }
  textarea {
    display: block;
    margin: 1rem 0;
  }
  input[type="radio"]:checked + label {
    background-color: tan;
    opacity: 90%;
    border-radius: 25%;
  }
  button {
    display: block;
  }
